include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include demo.sh
include *.cfg
include bootstrap.py
recursive-include buildout_templates *
recursive-include scripts *
recursive-include skeleton/static *
recursive-include skeleton/fixtures *
recursive-include skeleton/migrations *
