[buildout]
extensions=
    lovely.buildouthttp
parts=
    skeleton
    skeleton-supervisor-fcgi
    skeleton-supervisor-gunicorn
    skeleton-nginx-fcgi
    skeleton-nginx-gunicorn
    directories
    media-links
eggs=
#    flup - Only required for fcgi. Enable if you need fcgi.
    psycopg2
    jmbo-skeleton
extends = 
    versions.cfg
versions = versions    
develop = .
unzip = true
auto-checkout = *

[skeleton]
recipe = djangorecipe
project = skeleton
projectegg = skeleton
settings = settings_XXX
eggs = ${buildout:eggs}
settings = settings_qa_XXX
control-script = skeleton-qa-XXX

[skeleton-supervisor-fcgi]
recipe = collective.recipe.template
input = buildout_templates/supervisor.fcgi.in
output = ${buildout:directory}/supervisor/fcgi-skeleton-qa-XXX.conf
name = skeleton-qa-XXX
control-script = skeleton-qa-XXX
host = 127.0.0.1
port = XXX
user = www-data
log=${buildout:directory}/log/process.log

[skeleton-supervisor-gunicorn]
recipe = collective.recipe.template
input = buildout_templates/supervisor.gunicorn.in
output = ${buildout:directory}/supervisor/gunicorn-skeleton-qa-XXX.conf
name = skeleton-qa-XXX
control-script = skeleton-qa-XXX
host = 127.0.0.1
port = XXX
workers = 2
max-requests = 10000
user = www-data
log=${buildout:directory}/log/process.log

[skeleton-nginx-fcgi]
recipe = collective.recipe.template
input = buildout_templates/nginx.fcgi.conf.in
output = ${buildout:directory}/nginx/fcgi-skeleton-qa-XXX.conf
server-name = XXX
port = 80
fcgi-host = ${skeleton-supervisor-fcgi:host}
fcgi-port = ${skeleton-supervisor-fcgi:port}
media-root = ${buildout:directory}/../media-qa
static-root = ${buildout:directory}/static
downloads-root = downloads

[skeleton-nginx-gunicorn]
recipe = collective.recipe.template
input = buildout_templates/nginx.gunicorn.conf.in
output = ${buildout:directory}/nginx/gunicorn-skeleton-qa-XXX.conf
server-name = XXX
port = 80
gunicorn-host = ${skeleton-supervisor-gunicorn:host}
gunicorn-port = ${skeleton-supervisor-gunicorn:port}
media-root = ${buildout:directory}/../media-qa
static-root = ${buildout:directory}/static
downloads-root = downloads

[directories]
recipe = z3c.recipe.mkdir
paths = 
    ../media-qa/uploads
    ../media-qa/downloads
    log

[media-links]
recipe = svetlyak40wt.recipe.symlinks
path = ${buildout:directory}/../media-qa
files =
    ${buildout:directory}/src/django-ckeditor/ckeditor/media/ckeditor
