# Configuration for smart mobi site.

[buildout]
extends=qa_base_mobi.cfg qa_constants_SITE_NAME_PLACEHOLDER.cfg
site-type = smart

[skeleton-supervisor-django]
port-prefix = ${buildout:port-prefix}3
