[versions]
Django = 1.4.1
django = 1.4.1
South = 0.7.6
south = 0.7.6
collective.recipe.omelette = 0.15
django-appconf = 0.5
django-geckoboard = 1.2.2
django-object-tools = 0.0.5
django-photologue = 2.7.praekelt
django-setuptest-recipe = 0.1
jmbo = 1.0.1
jmbo-banner = 0.1.2
jmbo-foundry = 1.1.1
jmbo-gallery = 0.2.1
jmbo-post = 0.1.3
mr.developer = 1.21
python-dateutil = 1.5
svetlyak40wt.recipe.symlinks = 0.2.1
z3c.recipe.mkdir = 0.5

#Required by:
#jmbo-foundry 1.1
BeautifulSoup = 3.2.1

#Required by:
#jmbo 1.0.1
#django-ckeditor 3.6.2.1
Pillow = 1.7.7

#Required by:
#jmbo-analytics 0.0.4
django-analytics = 0.0.1

#Required by:
#jmbo 1.0.1
django-atlas = 0.0.1-beta

#Required by:
#jmbo-foundry 1.1
django-category = 0.1.1

#Required by:
#jmbo-music 0.0.7
#jmbo-show 0.0.7
django-ckeditor = 3.6.2.1

#Required by:
#jmbo-foundry 1.1
django-compressor = 1.2

#Required by:
#jmbo-foundry 1.1
django-debug-toolbar = 0.9.4

#Required by:
#jmbo-foundry 1.1
django-export = 0.0.4

#Required by:
#jmbo-post 0.1.3
#jmbo-foundry 1.1
django-generate = 0.0.6

#Required by:
#jmbo-foundry 1.1
django-gizmo = 0.0.4

#Required by:
#jmbo-foundry 1.1
django-googlesearch = 0.0.6

#Required by:
#jmbo-foundry 1.1
django-likes = 0.0.10

#Required by:
#jmbo-foundry 1.1
django-pagination = 1.0.7

#Required by:
#jmbo-foundry 1.1
django-preferences = 0.0.6

#Required by:
#jmbo-foundry 1.1
django-publisher = 0.0.3

#Required by:
#jmbo-foundry 1.1
django-recaptcha = 0.0.4

#Required by:
#jmbo-foundry 1.1
django-registration = 0.8

#Required by:
#jmbo-foundry 1.1
django-richcomments = 0.0.2

#Required by:
#django-likes 0.0.10
#jmbo-foundry 1.1
django-secretballot = 0.2.3

#Required by:
#jmbo-foundry 1.1
django-section = 0.0.3

#Required by:
#jmbo-foundry 1.1
django-simple-autocomplete = 0.3.1

#Required by:
#jmbo-foundry 1.1
django-sites-groups = 0.1.2

#Required by:
#jmbo-foundry 1.1
django-snippetscream = 0.0.7

#Required by:
#jmbo 1.0.1
django-tastypie = 0.9.11

#Required by:
#django-setuptest-recipe 0.1
djangorecipe = 1.2.1

#Required by:
#jmbo-foundry 1.1
gunicorn = 0.14.6

#Required by:
#jmbo-analytics 0.0.4
httplib2 = 0.7.6

#Required by:
#jmbo-foundry 1.1
jellyfish = 0.2.0

#Required by:
#jmbo-foundry 1.1
jmbo-analytics = 0.0.4

#Required by:
#jmbo-foundry 1.1
jmbo-calendar = 0.2.1

#Required by:
#jmbo-foundry 1.1
jmbo-chart = 0.0.5

#Required by:
#jmbo-foundry 1.1
jmbo-competition = 0.1

#Required by:
#jmbo-foundry 1.1
jmbo-contact = 0.1.1

#Required by:
#jmbo-foundry 1.1
jmbo-downloads = 0.0.4

#Required by:
#jmbo-foundry 1.1
jmbo-event = 0.0.4

#Required by:
#jmbo-foundry 1.1
jmbo-friends = 0.1

#Required by:
#jmbo-chart 0.0.5
#jmbo-foundry 1.1
jmbo-music = 0.0.7

#Required by:
#jmbo-foundry 1.1
jmbo-poll = 0.0.5

#Required by:
#jmbo-foundry 1.1
jmbo-show = 0.0.7

#Required by:
#django-tastypie 0.9.11
mimeparse = 0.1.3

#Required by:
#jmbo-music 0.0.7
pylast = 0.5.11

#Required by:
#jmbo-foundry 1.1
python-memcached = 1.48

#Required by:
#jmbo 1.0.1
pytz = 2012f

#Required by:
#zc.buildout 1.6.3

#Required by:
#djangorecipe 1.2.1

#Required by:
#djangorecipe 1.2.1
zc.recipe.egg = 1.3.2

